:root {
  --theme-color: #409eff;
  --header-height: 64px;
  --sidebar-width: 200px;
  --font-family: "PingFangSC-Regular, PingFang SC";
  --body-bg-color: "#f8f8fa";
  --body-font-size: 14px;
  --font-color: #999999;
  --font-color-gray1: #333333;
  --font-color-gray2: #666666;
  --font-color-gray3: #999999;
  --font-color-gray4: #bbbbbb;
}
